<h1>Password Resets</h1>

<%= simple_form_for :password_reset,  {url: password_resets_path} do |f|%>
  <div class="field">
    <%= f.input :email %>

  </div>
  <div class="actions"><%= f.submit "Reset Password" %></div>
<% end %>
